.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: auto;
	width: 50%;	
	box-shadow: 0px 0px 24px #5C5696;
  border-radius: 10px;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.rounded {
  border-radius: 0.25rem;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-danger,
.btn-info {
  width: 49%;
} 